{% extends 'base.html' %}


{% block content %}
    <body>
    <div class="container">
        <div class="container">
            <div class="jumbotron">
                <h1>Jumbotron</h1>      
                <p>welcome to neighbourhood!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            {% if neighbourhoods %}
                {% for neighbourhood in neighbourhoods %}
                <div>
                
                <div>
                    <p><a href="/neighbour/{{neighbourhood.id}}">{{neighbourhood.name}}</a></p>
                </div>
                </a>
                {% endfor %}
            {% else %}
                <p>no neighbourhoods for now</p>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            {% if posts %}
                {% for post in posts %}
                <div>
                
                <div>
                    <p>{{post.title}}</p>
                    <p>{{post.body}}</p>
                </div>
                </a>
                {% endfor %}
            {% else %}
                <p>nothing for now</p>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            {% if businesses %}
                {% for business in businesses %}
                <div>
                
                <div>
                    <p>{{business.name}}</p>
                    <p>#</p>
                </div>
                </a>
                {% endfor %}
            {% else %}
                <p>nothing for now</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock  %}