{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    {% if posts %}
        {% for post in posts %}
        <div>
        
        <div>
            <p><a href="/posts/{{post.id}}">{{post.title}}</a></p>
            <p>{{post.body}}</p>
        </div>
        </a>
        {% endfor %}
    {% else %}
        <p>nothing for now</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}