{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
            <form id='comment' action="/new_comment/{{post.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form co_form %}
                <input type="submit" class="btn btn-primary" value="comment">
            </form>
        </div>
    </div>
</div>
{% endblock %}