{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
            <h3>{{post.title}}</h3>
            <p>{{post.body}}</p>
            {% for comment in comments %}
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                    <p style="font-size:18 px; color:black;"><strong>{{ comment.user.username }}</strong></p>
                    <p style="font-size:16px; color:black">{{comment.comment}}</p>
                </div>
            </div>
            {% endfor %}
            <form id='comment' action="/comment/{{post.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form co_form %}
                <input type="submit" class="btn btn-primary" value="comment">
            </form>
        </div>
    </div>
</div>
{% endblock %}